*{
	box-sizing:border-box;
}
body {
	background-color: #eee !important;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family: Roboto, Sans serif;
}
a {
	text-decoration:none !important;
}
a:-webkit-any-link {
	text-decoration:none !important;
}
table.sptab {
    font-family: arial, sans-serif;
    width: 100%;
}

table.sptab td, table.sptab th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
table.sptab tr:nth-child(even) {
    background-color: #dddddd;
}
#PageList1 li.selected a {
	color:#fff !important;
}
.bcreg {
	background-color: #242d37;
	overflow:hidden;
	display:block
}

.bcol {
	height:100%;
	pointer-events:none;
	position:absolute;
	width:100%
}
.bcrot {

}
.bcjin {
	z-index:1;
}

.f20p {
font-size:20px;
}
.f25p {
font-size:25px;
}
.f30p {
font-size:20px ;
}
.f35p {
font-size:35px ;
}





.sbshbtn {
	float:right;
}
.getvarprod {
	display:none !important;
}

.sbawesome {
	width: 20px;
	height: 20px !important;
	overflow: hidden;
	font-size: 20px !important;
	text-decoration: none !important;
}
.sbawesome:hover , .sbawesome:focus {
	text-decoration: none !important;
}
.probok:hover .sbtw {
	color:#1da1f2;
}
.sbtw {
	color:#999;
}
.probok:hover .sbtw:hover {
	color:#f45d22;
}
.sbfb {
	color:#999;
}
.probok:hover .sbfb {
	color:#4267b2;
}
.probok:hover .sbfb:hover {
	color:#f45d22;
}
.sbgp {
	color:#db4437;
}
.sbgp:hover {
	color:#f45d22;
}

.tablebar {
	font-size: 11px;
    color: rgba(0,0,0,.54);
}

.thumbnail-post {
	width:100%; 
	text-align:center; 
	margin:0px 0px 0px 0px; 
	border-radius: 3px 3px 0px 0px;
	}
.product-image {
	text-align:center;
	}

.bersih:after {
	clear: both;
}
.bersih:before , .bersih:after {
	display: table;
	line-height: 0;
	content: "";
}

.elliplabe {
	white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.bersih {
	
}

.gamattrib {
	max-width: 13px;
	display: inline-block;
	margin-right: 2px;
	vertical-align: middle !important;
	box-sizing:border-box;
	text-align: right !important;
	line-height: 22px;
}
.samp3 {
	width: 23.404255319148934%;
	display: block;
	float: left;
	margin-left: 2.127659574468085%;
	box-sizing: border-box;
}
.samp7 {
	width: 74.46808510638297%;
	display: block;
	float: left;
	box-sizing: border-box;
}
.sampf {
	width: 100%;
	display: block;
	float: left;
	box-sizing: border-box;
}

.barisan:after {
	clear: both;
}
.barisan:before, .barisan:after {
	display: table;
	line-height: 0;
	content: "";
}
.barisan {
	width: 100%;
}

.prodrev {
width: 100%;
box-sizing: border-box;
border-top: 1px dashed #eee;
padding: 2px 6px 2px 6px;
border-left: 0;
border-right: 0;
position: relative;
font-family: open sans,tahoma,sans-serif;
font-size: 13px;
line-height: 22px;
color: #606060;
}
.bokharna {
padding: 1px 6px;
position:relative;
	
}
.probok:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.probok {
	border-radius:2px;
	padding: 0px;
	margin: 4px;
	background-color:#fff !important;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
	box-sizing:border-box;
	
}
.navbar {
	border-radius:0px !important;
}
.containproduct:before, .containproduct:after {
	clear:both;
	content:' ';
	display:block;
}
.befharga {
	line-height:1.3;
	margin-left: 0;
	margin-top: 0;
	width:100%;
	display: block;
	float: left;
	box-sizing: border-box;
}
.containproduct {
	width: 90%;	
	margin:auto;
}
.gambarr {
   position:  absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}
.gambar {
	position:relative;
	padding-top:100%;
	width: 100%;
	height:auto;
	text-align: center;
}
.probok:hover .prodnama {
	color: #0f9d58
}
.probok:hover .prodnama:hover {
	color:#f45d22;
}
.prodnama {
font-size: 16px;
line-height: 1.3;
overflow: hidden;
text-overflow: ellipsis;
word-break: break-word;
font-weight: 600;
display: block;
color: rgba(0,0,0,.7);
white-space: normal;
height: 20px;
}

.prodharga {
white-space: normal;
color: #d92d77;
font-size: 15px;
font-weight: 300;
display: inline-block;
line-height: 1.3;
overflow: hidden;
}


.prodlic {
	margin:0px;
	text-decoration:none;
	display:block;
	float:left;
	box-sizing: border-box;
	padding: 0px;
}
.barpro {
	margin:auto;
	display:block;
	width:100%;
}
.tet {
	background-color:gray;
	border:1px solid blue;
}
.bet {

}

.msgquery {
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0;
z-index:1;
text-align: left;
border-bottom: 3px solid #242d37;
padding: 5px 0px;
color: #242d37;
}
.msgquery a {
	padding:0 !important;
	color: #242d37;
}
.msgquery a:hover {
	color: #969fa8;
	cursor:pointer;
}
.fdlink:hover {
	color:#06b7f0 !important;
}
.fdlink:visited {
	color:#969fa8;
}
.fdlink {
	background-color: transparent;
	color: #969fa8;
	padding: 10px;
	margin-bottom: 5px;
	display: inline-block;
	float:right;
}
.aclink:hover {
	color:#06b7f0 !important;
}
.aclink:visited {
	color:#fff;
}
.aclink {
background-color: #242d37;
color: #fff;
padding: 10px;
border-radius: 5px;
margin-bottom: 5px;
display: inline-block;
}
.ulfoot a:hover {
	color:#06b7f0;
	cursor:pointer;
}

.ulfoot a {
	padding: 3px 0;
display: inline-block;
color: #fff;
	text-decoration:none;
	font-size:14;
	line-height:1.6;
}
.ulfoot {
	vont-family: Source Sans Pro, sans-serif;
	list-style: none;
padding: 0px;
}
.ftittext {
	margin: 0 0 20px 0;
font-weight: 400;
color: #969fa8;
letter-spacing: 2px;
text-transform: uppercase;
font-size:16px;
}
.fotcol {
	width:25%;
	padding:8px;
	float:left;
}
.footabout {
	text-align:center;
	line-height:1.5;
	font-weight:400;
	color:#555;
	word-wrap:break-word;
	background-color:transparent;
	font-size:16px;
	padding: 30px 0px;
}
.footlast {
	width: 90%;
	margin: auto;
	padding:8px 8px 10px 8px;
}
.footinner {

left: 0;
bottom: 0;
right: 0;
}
.footf {
	display: table;
	width: 100%;
	height:auto;
	color:#fff;
	background-color:#242d37;
	margin: 8px 0px 0px 0px;
	padding:0px;
}
.cssconwid {
	width:100%;
	max-width:400px;
	margin:auto;
	padding: 3px 0 0 0;
}
.martop15 {
	margin-top:15px;
}
.parend {
width: 35%;
background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
bottom: 0;
height: 95%;
position: absolute;
right: 0;
}

.tblclear:before , .tblclear:before  {
	content: "";
	display: table;
	clear: both;
}
.lisp {
background-color: transparent;
float: right;
list-style: none;
padding: 0 7px;
margin: 1px 2px;
display: inline-block;
font-size: 13px;
font-family: arial;
font-weight: 600;
color: #000;
line-height: 2;
box-shadow: none;
text-rendering: optimizeLegibility;
text-align: center;
text-decoration: none;
white-space: nowrap;
vertical-align: middle;
border: 1px solid #888;
border-radius: 14px;
}
.spsp {
line-height: 2;
font-size: 16px;
font-family: arial;
font-weight: 600;
float: left;
}
.spdiv {
float:right;
}
.splisp {
padding:0px;
margin:0px;
}
.sptab {
width:100%;
}
.sptab td{
vertical-align:top;
word-wrap:break-word; 
}

.tbfff {
	background-color: #fff;
}

.sptitle {
font-family:arial;

}
.ihori {
	height:auto;
	width:100%;
	margin:auto;
	position:absolute;
	text-align:center;
	left:0%;
	right:0%;
	top:-100%;
	bottom:-100%;
}
.ivert {
	height:100%;
	width:auto;
	margin:auto;
	position:absolute;
	text-align:center;
	left:-100%;
	right:-100%;
	top:0%;
	bottom:0%;
}
.pad04r {
	padding:0 4px !important;
}
.pad08r {
	padding:0 8px !important;
}
.pad016f {
	padding:0 16px !important;
}
.isiketimg {
    bottom: 0;
	text-align:center;
    position: absolute;
    width: 100%;
    z-index: 1;
}
* {
/*	border:1px solid red;/**/
	box-sizing:border-box;
}
.boxbayang {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.12);
}
.mblok {

    width: 100%;
    float: left;
}

.mainblok {
	font-family:sans-serif;
	width: 90%;
	margin-top: 16px !important;
	margin: auto;
	box-sizing: inherit;
	margin-top: 16px !important;
	font-size: 15px;
	line-height: 1.5;
	color: #000 !important;
	font-weight:400;
}
.kiriblok {
	float:left;
	width:75%;
	margin-bottom:16px;
}
.kananblok {
	width:25%;
	padding:0;
	float:left;
	margin-bottom:16px;
	}
.kriblok {
	width: 42%;
	float: left;
}
.knnblok {
	width: 58%;
	float: left;
}

.dlmkriblok {
    color: #9e9e9e !important;
    background-color: #fff !important;
}
.cntnkriblok {
}
.faset{
	width: 1.28571429em;
	text-align: center;
	margin-right: 16px !important;
	font-size: 18px !important;
}

.hrfor {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.cntnknnblok {
    color: #000 !important;
    background-color: #fff !important;
    margin-bottom: 16px !important;
}



.jdlh2 {
color: #555555 !important;
font-weight: 300;
line-height: 35px;
font-size: 30px;
margin: 25px 30px 10px 0;
white-space:normal;
}
.isiknnblk {
	position: relative;
}

.jdlh5 {
opacity: 0.90;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 36px !important;
color: #fff !important;
padding: 0 20px;
background-color: #0f9d58 !important;
margin: 0;
border-radius: 4px;
box-shadow: 0 1px 0 rgba(0,0,0,0.05);
text-rendering: optimizelegibility;
}
.jdlh6 {
    opacity: 0.60;
    font-weight: 400;
    margin: 10px 0;
    font-size: 16px;
	line-height: 1.5;
}

.spnbtn {
    color: #fff !important;
    background-color: #009688 !important;
    border-radius: 4px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.infohrg {
	width:70%;
	float:left;
}

.labharga {
	width:30%;
	float:left;
}
.hrgprice {
	font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    color: #333;
}
.forhr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
.prodtitle {
	padding:0px;
	font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    height: auto;
    margin: 0;
    text-transform: capitalize;
    word-break: break-word;
    color: #333;
}

.blokjudul {
	width:55%;
	float:left;
	padding:10px;
	position:relative;
}


.modalgambes {
    display: none; 
    position: fixed;
    z-index: 2; 
    padding-top: 61px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 

}

/* Modal Content (image) */
.isigambesful {
    margin: auto;
    display: block;
    width: 100%;

}

/* Caption of Modal Image */
#ketgambesar {
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.isigambesful, #ketgambesar {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@-webkit-keyframes GradientRotation {
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
@keyframes GradientRotation {
	0% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
/* The Close Button */
.ttup {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.ttup:hover,
.ttup:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* slide gambar dan mini gambar*/
.prev,
.next {
  opacity:0.1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 30px 5px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
  
}
.cursor {
	cursor:pointer;
}
.prev{
	border-radius: 0 50% 50% 0;
}
.next {
	right:0;
	border-radius: 50% 0 0 50% ;
}
.prev:hover,
.next:hover {
	opacity:1;
	background-color: #ffffff50;
}
.blockkiri {
	width:75%;
	float:left;
	padding:24px;
}
.bdrimg {

}
.blockpad {
	width:45%;
	float:left;
	padding:10px;
}
.blokutama {
	width:100%;
}
.blockutama {
	width:90%;
	margin:auto;
}

.blokspek {
	
}

.blokkimage {
	width:100%;
}

.blokimage {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding-top: 100%;
	width: 100%;
}
.imgbesar {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.imgkecil {
	width:100%;
}
.imgall {
	width:100%;
}

.imgsideslide {
	display:block;
    overflow: auto;
    white-space: nowrap;
    margin: 0;
	padding-bottom: 4px;
	padding-top: 0px;
}
.imgctr {
	cursor:zoom-in;
	width: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.sbisiimg{
	margin: 0px 1px;
	height: auto;
	border: none;
	display: inline-block;
	padding: 1px 2px;
	position: relative;
	width: 19%;
	padding-top: 19%;
	overflow: hidden;
	
}
.isiimg {
cursor: pointer;
background-color: #fafafa;
display: block;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2) ,0 6px 20px 0 rgba(0,0,0,0.19)  !important;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
	transition:background-color 0.5s;

}
.actives {
	background-color:#efefef !important;
}
.active {
	opacity:0.7 !important;
}
.isiimg:hover {
	transition:background-color 0.5s;
	background-color:#efefef;
}
.isiimg:hover>.kelasimg {
	opacity: 0.7;
	transition: opacity 0.5s;
}
.kelasimg:hover{
	opacity: 0.7;
	transition: opacity 0.5s;
}
.isiimg:active {
    transform: translateY(4px);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) ,0 2px 7px 0 rgba(0, 0, 0, 0.25) !important;
}
.kelasimg {
	opacity: 1;
	transition: opacity 0.5s;
}
.jadiimgslide {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.imgbesarsld {
	width:100%;
	height:100%;
}
div.tabed {
    overflow: hidden;
	border-bottom:5px solid #4788ee ;
}



div.tabed button {
	color: #4788ee !important;
	background-color: #fff !important;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
  padding: 5px 15px;
    transition: 0.3s;
    font-size: 17px;
	margin:auto;
	line-height:1.5;
}


div.tabed button:hover {
	color: #4788ee !important;
	background-color: #eee !important;
}


div.tabed button.terbuka {
	color: #fff !important;
	background-color: #4788ee  !important;
}


.isitabed {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.blpagerkn, .blpagerkr {
	cursor: pointer;
	position:absolute;
	display:block;
	width: auto;
	padding: 10px 5px;
	margin-top: -50px;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	user-select: none;
	-webkit-user-select: none;
	border-radius: 50%;
	bottom:0px;
}
.blpagerkr{
	
}
.blpagerkn {
	right:0px;
}
.blpagerkr:hover,
.blpagerkn:hover {
	color:white;
	background-color: #00000050;
}



@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.input-group {
    position: absolute !important;
    right: 15px !important;
}
.navbar-form .input-group .form-control:focus{
	width:300px !important;
	transition: 0.3s;

}
.navbar-form .input-group .form-control{
	width:50px !important;
	transition: 0.3s;
}
@media screen and (min-width:1441px){
.prodlic {width:16%;}

}
@media screen and (max-width:1440px){
.prodlic {width:20%;}

}
@media screen and (max-width:1024px){
.prodlic {width:25%;}
}
@media screen and (max-width:1024px){
	.fotcol {
	width:50%;
	padding:8px;
}
	.footlast {
	width: 95%;
	margin: 0;
	padding:6px 6px 7px 6px;
}
	.navbar-form .input-group .form-control{
	width:50px !important;
	transition: 0.3s;
	}
	.blockpad {
	width:45%;
	}
	.sbisiimg{
	width: 25%;
	padding-top: 25%;
	}
	.kiriblok {
	width:100%;
	}
	.kananblok {
	width:100%;

	}
	.mainblok {
	width: 100%;
	}
	.pad04r {
	padding:0px 2px !important;
	}
	.pad08r {
		padding:0px 4px !important;
	}
}
@media screen and (max-width:768px){
	.footf {
	background-color:#242d37;
	margin: 0px 0px 0px 0px;
	}
	.cntnknnblok {
    color: #000 !important;
    background-color: #fff !important;
    margin-bottom: 0px !important;
}
	.blockpad {
	width:100%;
	}
	.sbisiimg{
	width: 33.3%;
	padding-top: 33.3%;
	}
	.kriblok {
	width: 100%;
	}
	.knnblok {
	width: 100%;
	}
	.kiriblok {
	margin-bottom:0px;
	width:100%;
	}
	.kananblok {
	width:100%;
	}
	.mainblok {
	width: 100%;
	}
	.mblok {
    width: 100%;
    float: left;
	}
	.pad04r {
	padding:0px !important;
	}
	.pad08r {
	padding:0px !important;
	}
	div.tabed button {
	font-size:15px;
	}
	.navbar-form .input-group .form-control{
	width:100% !important;
	transition: 0.3s;
		
	}
	.navbar-form .input-group .form-control:focus{
	width:100% !important;
	transition: 0.3s;
	}
	.input-group {
    position: relative !important;
	right:0;
	left:0;
	}
.martop15 {
	margin-top:0px;
}
	.footlast {
	width: 100%;
	margin: 0;
	padding:4px 4px 5px 4px;
	}
	.fotcol {
	width:100%;
	padding:8px;
}
}
@media screen and (max-width:768px){
.prodlic {width:33%;}
.containproduct { width: 100%;}
}
@media screen and (max-width:767px){
.f20p {
font-size:10px;
}
.f25p {
font-size:15px;
}
.f30p {
font-size:20px;
}
.f35p {
font-size:25px;
}
}
@media screen and (max-width: 480px){
.prodlic {width:50%;}
}
@media screen and (max-width:320px){
.prodlic {width:100%;}
}
